body {
  background-image: url("img/back2.jpg");
  background-repeat: repeat-xy;
  color: #DEC;
  padding: 0px;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color : #2AF;
}

a:visited {
  text-decoration: none;
  color: #A2F;
}

a:hover, a:active {
  text-decoration: underline;
}

a:active {
  color: red
}
