@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

body {
  background-color: #f0efee;
  color: #333333;
  margin: 0;
  font-family: Noto Sans JP;
  font-size: 12pt;
}

.menu-nav {
  position: sticky;
  display: block;
  top: 0;
  background: #f0efee;
  padding: 1.5rem 2rem;
}

.menu-nav a {
  margin-left: 1rem;
}

main {
  margin: auto;
  padding-bottom: 3rem;
  width: calc(700px - 4rem);
  max-width: calc(700px - 4rem);
}

ul {
  padding-inline-start: 2rem;
}

li {
  margin-bottom: 1rem;
}

.work-title {
  font-size: 1.15em;
  font-weight: bold;
}

iframe, img {
  max-width: 100%;
}

@media screen and (max-width: calc(700px + 2rem)) {
  main {
    margin: 0 2rem;
    width: fit-content;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
  main {
    margin: 0 1.5rem;
  }
  .menu-nav {
    padding: 1rem 2em;
  }
  .menu-nav a {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .menu-nav a {
    margin-left: 0.5rem;
  }
}
