body {
  font-size: 12pt;
  margin: 1em;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #AAB2B7;
  color: Black;
}

a:link, a:visited {
  text-decoration: none;
  color : #0003b3;
}

a:hover, a:active {
  text-decoration: underline;
}

p {
  padding-left: 1em;
}

section {
  border-bottom: 1px #808080 solid;
}

img {
  max-width: 100%;
  max-height: 210px;
}

ul {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.lang {
  margin-right: 1em;
  float: right;
}

h2.m4l-dev-info {
  font-size: 1.17em;
  font-weight: normal;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

details {
  margin-bottom: 1em;
}

summary {
  cursor: pointer;
  color: #520600;
  margin-left: 1em;
}

summary:hover {
  text-decoration: underline;
}

div.history {
  display: list-item;
  list-style-type: disc;
  margin: 0.5em auto 1em 2.5em;
}

.history ul {
  margin: 0.25em;
  list-style-type: circle;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11.5px;
  }
  .lang {
    margin-right: 0;
  }
}